/* style.css */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #111;
}

.navbar {
  display: none;
  justify-content: center;
  padding: 1vh;
  background: #f7a33e;
  border-bottom: 2px solid #000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-bg {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
}

.hero-mobile{
  display: none;
}

.title {
  position: absolute;
  top: 2vh;
  border-radius: 1vw;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 70%;
  max-width: 90%;
  height: 10vh;
  padding: 1vw;
  background-color: #000;
}

.data {
  position: static;
  width: auto;
  height: 100%;
  z-index: 2;
  color: #fff;
}

.title-img {
  width: auto;
  z-index: 2;
  height: 100%;
  object-fit: fit;
}

.hero-img {
  z-index: 1;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
  background: #bba1ff;
}

.info-text {
  position: relative;
  padding: 3vw;
  width: 50vw;
  padding-right: 40px;
}

.info-image {
  display: flex;
  width: 50vw;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.info-img {
  flex: 1;
  width: auto;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.lineup {
  padding: 5vh;
  text-align: center;
  background-color: #f7a33e;
}

.lineup-artisti {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.single-artist {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 600px;
}

.artist-img {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* this pushes content to the bottom */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.artist-name {
  position: absolute;
  bottom: 0vh;
  height: 30%;
  max-width: 90%;
}

.artist-name img {
  width: 100%;
  bottom: 0vh;
  display: block;
}

.lineup h2 {
  text-transform: uppercase;
}

.lineup ul {
  list-style: none;
  padding: 0;
  font-family: monospace;
}

.lineup li {
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  padding: 3vh;
  background: #f7a33e;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.footer p {
  font-size: 1em;
}

.map{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding-bottom: 10vh;
  color: #fff;
}

.map-google{
width: 600px;
height: 450px;
}

.ticket-button {
  position: fixed;
  bottom: 30px;
  margin-bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  background: #f7a33e;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 30px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 1vh;
  z-index: 9999;
  transition: background 0.2s ease;
}

.ticket-button:hover {
  background: #fff;
  color: #000;
}
