@font-face {
  font-family: "expanded";
  src: url("assets/font/Archivo_Expanded-Black.ttf") format("truetype");
}

@font-face {
  font-family: "condensed";
  src: url("assets/font/Archivo_Condensed-Bold.ttf") format("truetype");
}

h2 {
  font-family: "expanded";
  font-size: 5vw;
  line-height: 90%;
}

h3 {
  font-family: "condensed";
  margin: 0;
  font-size: 1.4vw;
}

p {
  font-size: 1.3vw;
  line-height: 90%;
}

.footer-txt{
  color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}